<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,90,146,0.3) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "banner-home.jpg" %>);">
  <div class="banner-content">
    <h1>Scrap me !</h1>
    <p>Get in touch with owners quickly</p>
    <%= form_tag properties_path, method: :post, class: "form-inline form-home" do %>
      <%= text_field_tag :url_input,
        params[:url_input],
        class: "form-control input-home",
        placeholder: "Enter URL"
      %>
      <%= button_tag "Scrap", class: "btn-blue" %>
    <% end %>
  </div>
</div>

<% if false %>
  <%= simple_form_for :city, :url => properties_path, method: :post do |f| %>
    <%= f.input :city, label: "City" %>
   <%= f.submit "Submit", class: "btn-primary" %>
  <% end %>
<% end %>

