<div class="container-index-properties">
  <div class="flex-h-simple" style="margin-bottom: 24px;">
    <h3 style="margin-right: 32px; margin-bottom: 0px; margin-top: 0px;"><%= @properties.length %> new properties scrapped</h3>
    <%= link_to "Scrap again", root_path, class: "btn-blue btn-small" %>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-condensed" id="table-index-properties" data-toggle="table" data-sort-name="Posted on" data-sort-order="desc">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">City</th>
          <th scope="col">Title</th>
          <th scope="col">Rent</th>
          <th scope="col">Posted on</th>
          <th scope="col">Phone</th>
          <th scope="col">URL</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |property| %>
        <tr>
          <td><%= property.id %></td>
          <td><%= property.city %></td>
          <td><%= property.title %></td>
          <td><%= number_with_delimiter(property.price, :delimiter => ',') %></td>
          <td><%= property.date %></td>
          <td><%= property.phone %></td>
          <td>
            <%= link_to property.url, target: "_blank" do %>
              <i class="fas fa-external-link-alt"></i>
            <% end %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>
  </div>
</div>
